{
  "presets": ["es2015"],
  "plugins": [
    "transform-async-to-generator",
    "syntax-async-functions",
    "add-module-exports",
    ["babel-plugin-dotenv", {
      "replacedModuleName": "babel-dotenv"
      }
    ]
  ]
}
